body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image:url(https://i.pinimg.com/736x/36/57/3e/36573ed580e3d9fe823df0484e376b37.jpg);
    color: white;
}

header {
    text-align: center;
    padding: 20px;
}

.theme-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 15px;
    border: none;
    background: cyan;
    color: black;
    cursor: pointer;
    border-radius: 8px;
    font-size: 15px;
}
main {
    display: flex;
    gap: 30px;
    padding: 20px;
}

.left-section, .right-section {
    width: 50%;
}
.open-modal-btn {
    padding: 12px;
    width: 100%;
    background: cyan;
    color: black;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
}
.search-sort {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.search-sort input,
.search-sort select {
    padding: 12px;
    width: 100%;
    background: #222;
    color: white;
    border-radius: 8px;
    border: 1px solid #444;
}
.movie-list {
    display: grid;
    gap: 20px;
}

.movie-card {
    background: #181818;
    padding: 15px;
    border-radius: 10px;
    border-left: 4px solid cyan;
    transition: 0.3s;
}

.movie-card:hover {
    transform: scale(1.03);
}

.card-btns button {
    margin-right: 10px;
    border: none;
    padding: 8px 12px;
    border-radius: 6px;
    cursor: pointer;
}

.edit-btn { background: orange; }
.delete-btn { background: red; color: white; }
.modal {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
}

.modal-content {
    width: 350px;
    margin: 10% auto;
    padding: 20px;
    background: #1e1e1e;
    color: white;
    border-radius: 12px;
    border: 2px solid cyan;
    animation: popUp 0.3s ease;
}

@keyframes popUp {
    from { transform: scale(0.7); opacity: 0; }
    to { transform: scale(1); opacity: 1; }
}

.close {
    float: right;
    font-size: 25px;
    cursor: pointer;
}

#movieForm input {
    width: 100%;
    padding: 12px;
    margin-bottom: 12px;
    background: #222;
    border-radius: 6px;
    border: 1px solid #555;
    color: white;
}

#saveMovieBtn {
    width: 100%;
    padding: 15px;
    background: cyan;
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    font-size: 18px;
}
#toastContainer {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 99;
}

.toast {
    background: #222;
    color: cyan;
    padding: 12px 18px;
    margin-top: 10px;
    border-left: 4px solid cyan;
    border-radius: 8px;
    animation: fadeInOut 3s ease forwards;
}

@keyframes fadeInOut {
    0% { opacity: 0; transform: translateX(50px); }
    10% { opacity: 1; transform: translateX(0); }
    90% { opacity: 1; }
    100% { opacity: 0; transform: translateX(50px); }
}
@media (max-width: 900px) {
    main {
        flex-direction: column;
    }

    .left-section, .right-section {
        width: 100%;
    }
}

